.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex: 0 0 50px;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.row {
  display: flex;
  flex: 1 0 600px;
}

.row_sidebar {
  flex: 0 0 200px;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.row_sidebar_nav {
  padding: 10%;
}

.row_activeApp {
  flex-grow: 1;
  background-color: #313030;
  color: #f1f1f1;
  padding: 10px;
}

.footer {
  flex: 0 0 50px;
  background-color: #f1f1f1;
  padding: 15px;
  align-self: flex-end;
  min-width: 100%;
}
